@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/gotham_book_regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "Gotham Medium";
  src: url("../fonts/Gotham-Medium.woff");
}

$color--purple: #522d6d;
$hamburger-layer-width: 30px;
$hamburger-layer-height: 2px;
$hamburger-layer-spacing: 3px;
@import "~hamburgers/_sass/hamburgers/hamburgers.scss";
